.profile-container {
  margin: 0 auto;
  width: 70%;
  //   display: grid;
  // grid-template-columns: 1fr 1fr;
  background-color: lightgray;
  .profile-menu {
    display: inline-block;

    img {
      display: block;
    }
    .profile-menu {
      display: inline-block;
    }
  }
}
