.profile-container {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: white;

  a {
    text-decoration: none;
    color: black;
  }

  .profile-menu {
    color: black;
    display: inline-block;
    max-width: 225px;
    text-align: right;

    .img-container {
      position: relative;
      text-align: center;
      img {
        display: block;
      }
      button {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}
