$nav-items-main-color: #edf0f1;
$nav-items-secondary-color: #0088a9;
$nav-bg-color: #24252a;

@function ease($style) {
  @return $style 0.5s ease;
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (min-width: 501px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 960px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
