.info {
  @include flexCenter;
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),
    url('/images/ex_bg.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;

  div {
    padding: 0 3rem;
    width: 50%;
  }

  h1 {
    color: white;
    font-weight: normal;
    margin-bottom: 0.6rem;
  }

  p {
    color: lightgray;
    font-size: 1rem;
  }
}

.types {
  @include flexCenter;
  margin: 5em;

  p {
    color: rgb(73, 73, 73);
    text-align: center;
    padding: 1.5em;
    max-width: 800px;
    margin: auto;
  }

  h2 {
    position: relative;
    text-align: center;
    padding-bottom: 1.2em;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      border-bottom: 2px solid #0088a9;
      bottom: 0;
      left: 46%;
    }
  }

  .ex-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .show {
      background-color: $nav-items-secondary-color;
      border-radius: 30px;
      cursor: pointer;
      margin: 1em 0.5em;
      padding: 0.2em 0;
      border: 1px solid $nav-items-secondary-color;
      color: white;

      &:hover {
        background-color: darken(
          $color: $nav-items-secondary-color,
          $amount: 3
        );
        transition: ease(background);
      }

      span {
        padding: 0 1.5em;
      }
    }

    .hide {
      font-weight: 500;
      font-size: 1rem;
      color: rgb(104, 104, 104);
      margin: 1em 0.5em;
      padding: 0.2em 0;
      border: 1px solid $nav-items-secondary-color;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background-color: $nav-items-secondary-color;
        color: white;
        transition: ease(background);
        box-shadow: 1px 1px 3px rgb(104, 104, 104);
      }

      span {
        padding: 0 1.5em;
      }
    }
  }

  .grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    column-gap: 35px;
    margin-left: 5em;
    margin-right: 5em;

    .img-container {
      position: relative;
      text-align: center;
      color: white;
      transition: ease(all);
      max-height: 220px;
      background: $nav-bg-color;
      overflow: hidden;

      &:hover {
        cursor: pointer;

        img {
          opacity: 0.4;
          transform: scale(1.2);
        }

        span {
          display: block;
        }
      }

      span {
        transition: ease(all);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: bolder;
        width: 100%;
        font-weight: 500;
        display: none;

        button {
          transition: ease(all);
          border: 1px solid transparent;
          background-color: rgba(255, 255, 255, 0.12);
          border-radius: 30px;
          padding: 10px 1.5em;
          color: rgba(255, 255, 255, 0.89);
          font-weight: bold;
          font-size: 13px;
          display: inline-block;
          margin: 2em 6px 6px 6px;
          cursor: pointer;

          &:hover:not([disabled]) {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
      }

      img {
        transition: ease(all);
        height: 220px;
        width: 320px;
        transform: scale(1);
      }
    }
  }
}

.title {
  text-align: center;
  margin: 3rem 0 2rem 0;
  color: $nav-bg-color;
}

.d-container {
  display: flex;
  justify-content: center;
  margin: 2rem;

  img {
    margin-right: 4rem;
    height: 350px;
    width: 600px;
  }

  .d-info {
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 17px;

    h2 {
      border-bottom: 2px solid #0088a9;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-weight: 600;
      color: $nav-bg-color;
    }
    span {
      font-weight: bolder;
      color: #026c86;
    }

    button {
      padding: 8px;
      background-color: white;
      border: 1px solid #0088a9;
      border-radius: 10px;
      margin-top: 1em;
      color: #0088a9;
      cursor: pointer;

      &:hover {
        background-color: gray;
        border-color: gray;
        color: white;
      }
    }
  }
}
