.info {
  @include flexCenter;
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),
    url('/images/ex_bg.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40%;

  div {
    padding: 0 3rem;
    width: 50%;
  }

  h1 {
    color: white;
    font-weight: normal;
    margin-bottom: 0.6rem;
  }

  p {
    color: lightgray;
    font-size: 1rem;
  }
}

.types {
  @include flexCenter;
  margin: 5em;

  p {
    color: rgb(73, 73, 73);
    text-align: center;
    padding: 1.5em;
  }

  h4 {
    position: relative;
    text-align: center;
    padding-bottom: 1.5em;

    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 2px;
      border-bottom: 2px solid #0088a9;
      bottom: 0;
      left: 46%;
    }
  }

  .ex-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .show {
      background-color: $nav-items-secondary-color;
      border-radius: 30px;
      cursor: pointer;
      margin: 1em 0.5em;
      padding: 0.2em 0;
      border: 1px solid $nav-items-secondary-color;
      color: white;

      &:hover {
        background-color: darken(
          $color: $nav-items-secondary-color,
          $amount: 3
        );
        transition: ease(background);
      }

      span {
        padding: 0 1.5em;
      }
    }

    .hide {
      font-weight: 500;
      font-size: 1rem;
      color: rgb(104, 104, 104);
      margin: 1em 0.5em;
      padding: 0.2em 0;
      border: 1px solid $nav-items-secondary-color;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background-color: $nav-items-secondary-color;
        color: white;
        transition: ease(background);
        box-shadow: 1px 1px 3px rgb(104, 104, 104);
      }

      span {
        padding: 0 1.5em;
      }
    }
  }

  .grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;

    .img-container {
      position: relative;
      text-align: center;
      color: white;
      transition: ease(all);

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        max-height: 200px;
      }
    }
  }
}
