.navbar {
  box-shadow: 1px 1px 4px 0 rgba($color: #222, $alpha: 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  nav {
    background: $nav-bg-color;
    padding: 0.4rem 1.25rem;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    .menu {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .logo {
        padding-top: 0.2em;
      }

      .logo_img {
        width: 12rem;
        padding-top: 0.2em;
      }

      li,
      a {
        font-weight: 500;
        font-size: 1rem;
        color: $nav-items-main-color;
        text-decoration: none;
      }

      a {
        transition: ease(color);

        &:hover {
          color: $nav-items-secondary-color;
        }
      }

      .item {
        width: 100%;
        order: 3;
        margin: 0 3em 0 3em;
        padding-top: 2rem;

        &.button {
          order: 2;
        }

        &:not(:nth-of-type(4)) {
          border-bottom: #444 1px solid;
        }
      }

      .toggle {
        order: 1;
        padding: 0 2em 0.3em 0;

        .toggler {
          cursor: pointer;
          position: absolute;
          height: 40px;
          width: 40px;
          z-index: 2;
          opacity: 0;

          &:checked + .bars {
            transform: rotate(135deg);
          }

          &:checked nav > .navlist {
            max-height: 270px;
          }

          &:checked + .bars::before,
          &:checked + .bars::after {
            top: 0;
            transform: rotate(90deg);
          }

          &:checked:hover + .bars {
            transform: rotate(225deg);
          }
        }
        .bars {
          height: 3px;
          display: inline-block;
          background: $nav-items-main-color;
          position: relative;
          width: 1.6rem;
          margin: 1.1rem 0 0.5rem 0.4rem;
          z-index: 1;
          transition: ease(all);

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: -10px;
            width: 100%;
            height: 3px;
            background: inherit;
          }

          &::after {
            top: 10px;
          }
        }
      }
    }
  }
}
