@import 'config';
@import 'navbar';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

.bg {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@import 'mobile';
